#map {
    height: 100%;
    width: 100%;
}

#map-container {
    height: 700px;
    width: 1000px;
    margin: auto;
}

#input-container {
    padding: 2em;
    margin: auto;
}

#input-form {
    margin: auto;
}

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}